        <!-- Footer Style Seven Start -->
        <footer class="bg-faded pt-50 bg-theme-color-2">
            <div class="container">
              <div class="section-content">
                <div class="row">
                  <div class="col-md-5 col-sm-12">
                      <div class="footer-item footer-widget-one">
                        <img class="footer-logo mb-25" src="images/Sylan-Tech-Logo.png" alt="">
                          <p>We strategize ways to restore mines using our advanced technological products. Our Team are dedicated to contributing value to reusable materials from waste. Contact us to be part of your initiatives.</p>
                            <hr>
                            <!-- <h6>Follow<span> Us</span></h6>
                            <ul class="social-icon bg-transparent bordered-theme">
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul> -->
                      </div>
                  </div>
  
                  <!-- <div class="col-md-3 col-sm-12">
                    <div class="footer-item">
                      <div class="footer-title">
                        <h4>Our <span>Services</span></h4>
                        <div class="border-style-3"></div>
                      </div>
                      <ul class="footer-list">
                        <!- <li><a href="#">Sign up to theme</a></li> ->
                        <li><a href="#">Log in account</a></li>
                        <li><a href="#">Help and support</a></li>
                        <!-<li><a href="#">Visit our help section</a></li>
                        <li><a href="#">Donation Fund</a></li> ->
                      </ul>
  
                    </div>
                  </div> -->
  
  
                  <div class="col-md-2 col-sm-12">
                    <div class="footer-item">
                      <div class="footer-title">
                        <h4>Usefull <span>Links</span></h4>
                        <div class="border-style-3"></div>
                      </div>
                      <ul class="footer-list">
                          <li><a href="/">Home</a></li>
                          <li><a href="/project">Project</a></li>
                          <li><a href="/about">About Us</a></li>
                          <li><a href="/contact">Contact</a></li>
                        <!-- <li><a href="#">Team</a></li> -->
                        <!-- <li><a href="#">Gallery</a></li>
                        <li><a href="#">Blog</a></li>
                        -->
                      </ul>
  
                    </div>
                  </div>
  
                  <div class="col-md-5 col-sm-12">
                    <div class="footer-item">
                      <div class="footer-title">
                        <h4>Quick <span>Contact</span></h4>
                        <div class="border-style-3"></div>
                      </div>
                      <ul class="footer-list footer-contact mb-10">
                        <li></i> Nigeria Contact: +234 8034976674, +234 9160649181</li>
                        <li></i> US Contact: +1 7065585697, +1 7723015393</li>                 
                        <li><a href="mailto:">Email: info@sylantechindustries.com</a></li>
                      </ul>
                      <!-- <div class="footer-item">
                        <h6>Subscribe <span> News letter</span></h6>
                        <div class="input-group subscribe-style-two">
                          <input type="email" class="form-control input-subscribe" placeholder="Email">
                          <span class="input-group-btn">
                            <button class="btn btn-subscribe" type="button">Subscribe</button>
                          </span>
                        </div>
                      </div> -->
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <section class="footer-copy-right bg-theme-color-2 text-white p-0">
            <div class="container">
              <div class="row">
                <div class="col-12 text-center">
                  <p><a target="_blank" href="https://www.NitronFx.com">© Nitronfx 2024. All Rights Reserved.</a></p>
                </div>
              </div>
            </div>
          </section>
          <!-- Footer Style Seven End -->