 <!-- Header Section Start -->
 <header class="header header-style-2 clearfix">

    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="contact-info">
                        <ul>
                            <li>
                                <i class="flaticon-flash"></i>
                                1, Varsity Avenue, Kwara, Ilorin, Nigeria.
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-2">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="menu-style bg-transparent menu-hover-2  clearfix">
        <!-- main-navigation start -->
        <div class="main-navigation main-mega-menu animated">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- header dropdown buttons end-->
                    <a class="navbar-brand" href="">
                        <img id="logo_img" src="images/Sylan-Tech-Logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">

                        <!-- main-menu -->
                        <ul class="navbar-nav ml-xl-auto">

                            <!-- mega-menu end -->
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>

                                <!-- <div class="dropdown-menu left-1">
                                    <div class="dropdown">
                                        <a class="dropdown-item" href="index.html">Home style one</a>
                                        <a class="dropdown-item" href="index-2.html">Home style two</a>
                                        <a class="dropdown-item" href="index-3.html">Home style three</a>
                                    </div>
                                </div> -->
                            </li>
                            <!-- mega-menu start -->

                            <!-- mega-menu end -->
                            <!-- <li class="nav-item">
                                <a href="services.html" class="nav-link">Services</a>

                                <!- <div class="dropdown-menu left-1">
                                    <div class="dropdown">
                                        <a class="dropdown-item" href="industry-construction.html">Industry
                                            Construction</a>
                                        <a class="dropdown-item" href="risk-analysis.html">Risk Analysis</a>
                                        <a class="dropdown-item" href="industial-law.html">Industial law</a>
                                        <a class="dropdown-item" href="manufacturing.html">Manufacturing</a>
                                        <a class="dropdown-item" href="petroleum-gas.html">Petroleum and Gas</a>
                                        <a class="dropdown-item" href="welding-engineering.html">Welding
                                            Engineering</a>
                                    </div>
                                </div> ->
                            </li> -->
                            <!-- mega-menu start -->

                            <!-- mega-menu end -->
                            <li class="nav-item dropdown active">
                                <a href="/project" class="nav-link">Projects</a>

                                <!-- <div class="dropdown-menu left-1">
                                    <div class="dropdown">
                                        <a class="dropdown-item" href="projects.html">Projects style 1</a>
                                        <a class="dropdown-item" href="projects-2.html">Projects style 2</a>
                                        <a class="dropdown-item" href="project-single.html">Project Details</a>
                                    </div>
                                </div> -->
                            </li>
                            <!-- mega-menu start -->

                            <!-- mega-menu end -->
                            <li class="nav-item dropdown">
                                <a href="/about" class="nav-link">About Us</a>

                                <!-- <div class="dropdown-menu left-1">
                                    <div class="dropdown">
                                        <a class="dropdown-item" href="about.html">About Us</a>
                                        <a class="dropdown-item" href="team.html">Our Team</a>
                                        <a class="dropdown-item" href="testimonials.html">Testimonials</a>

                                        <div class="dropdown">
                                            <a class="dropdown-toggle dropdown-item" data-toggle="dropdown"
                                               href="#">our services</a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="services.html">services style one</a>
                                                <a class="dropdown-item" href="services-2.html">services style
                                                    two</a>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="shop.html">Shop</a>
                                        <a class="dropdown-item" href="shop-single.html">Shop details</a>
                                        <a class="dropdown-item" href="faq.html">Faq</a>
                                        <a class="dropdown-item" href="404.html">404</a>
                                    </div>
                                </div> -->
                            </li>
                            <!-- mega-menu start -->
<!-- 
                            <li class="nav-item dropdown">
                                <a href="blog.html" class="nav-link dropdown-toggle"
                                   id="seventh-dropdown" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">Blog</a>

                                <div class="dropdown-menu navbar-right" aria-labelledby="seventh-dropdown">
                                    <a class="dropdown-item" href="blog.html">Blog</a>
                                    <a class="dropdown-item" href="blog-right-sidebar.html">Blog right sidebar</a>
                                    <a class="dropdown-item" href="blog-left-sidebar.html">Blog left sidebar</a>
                                    <a class="dropdown-item" href="blog-fullwidth.html">Blog full width</a>
                                    <a class="dropdown-item" href="blog-details.html">Blog details</a>
                                </div>
                            </li> -->

                            <!-- mega-menu end -->
                            <li class="nav-item">
                                <a href="/contact" class="nav-link">Contact</a>
<!-- 
                                <div class="dropdown-menu navbar-right">
                                    <div class="dropdown">
                                        <a class="dropdown-item" href="contact.html">Contact style 1</a>
                                        <a class="dropdown-item" href="contact-style-2.html">Contact style 2</a>
                                    </div>
                                </div> -->
                            </li>
                            <!-- mega-menu start -->

                        </ul>

                        <!-- header dropdown buttons -->
                        <!-- <div class="dropdown-buttons">
                            <div class="btn-group menu-search-box">
                                <button type="button" class="btn dropdown-toggle" id="header-drop-3"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                        class="fa fa-search"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-animation"
                                    aria-labelledby="header-drop-3">
                                    <li>
                                        <form role="search" class="search-box">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <i class="fa fa-search form-control-feedback"></i>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" id="header-drop-4"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                        class="fa fa-shopping-bag"></i><span class="menu-cart">3</span></button>
                                <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation"
                                    aria-labelledby="header-drop-4">
                                    <li class="product-item">
                                        <img src="images/shop/1.jpg" alt="">
                                        <a href="#">product name</a>
                                        <span>49.00</span>
                                    </li>
                                    <li class="product-item">
                                        <img src="images/shop/2.jpg" alt="">
                                        <a href="#">product name</a>
                                        <span>80.00</span>
                                    </li>
                                    <li class="product-item">
                                        <img src="images/shop/2.jpg" alt="">
                                        <a href="#">product name</a>
                                        <span>80.00</span>
                                    </li>
                                    <li class="product-item">
                                        <span>120.30</span>
                                        <a class="btn-theme" href="#">Read more</a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- main-menu end -->

                    </div>
                </div>
            </nav>
        </div>
        <!-- main-navigation end -->
    </div>

</header>
<!-- Header Section End -->